<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Code+Pro&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/portfolio.css">
    <link rel="stylesheet" href="css/gallery.css">
    <title>Gallery</title>
</head>

<body>

    <div class="container">
        <div class="sidebar">
            <b>ANKUSH JAIN</b>
            <nav>
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/resume">Resume</a></li>
                    <li><a href="/youtube">YouTube</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </nav>
        </div>
        <div class="main">
            <h2>Gallery</h2>
            <div class="gallery">
                <img src="images/gallery/c1.jpg" alt="cat1">
                <img src="images/gallery/c2.jpg" alt="cat2">
                <img src="images/gallery/c3.jpg" alt="cat3">
                <img src="images/gallery/c4.jpg" alt="cat4">
                <img src="images/gallery/c5.jpg" alt="cat5">
                <img src="images/gallery/c6.jpg" alt="cat6">
                <img src="images/gallery/c7.jpg" alt="cat7">
                <img src="images/gallery/c8.jpg" alt="cat8">
                <img src="images/gallery/c9.jpg" alt="cat9">
                <img src="images/gallery/c10.jpg" alt="cat10">
                <img src="images/gallery/d1.jpeg" alt="dog1">
                <img src="images/gallery/d2.jpeg" alt="dog2">
                <img src="images/gallery/d3.jpeg" alt="dog3">
                <img src="images/gallery/d4.jpeg" alt="dog4">


            </div>
        </div>
    </div>
</body>

</html>