<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Code+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/portfolio.css">
    <title>Home Page</title>
</head>
<body>
    
    <div class="container">
        <div class="sidebar">
           <b>ANKUSH JAIN</b> 
            <nav>
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/resume">Resume</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/youtube">YouTube</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </nav>
        </div>
        <div class="main">
            
            
            <div class="infocontainer">
                <div class="pic"><img src="images/pic1.jpg" alt="Ankush"></div>
                <div class="info">
                        <div class="greet">Hello, My Name is</div>
                        <div class="name">Ankush Jain Lunawath</div>
                        <div class="about">Mechanical Engineer, Web Developer</div>
                        <div class="intro">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt nisi blanditiis consequatur ducimus perferendis mollitia deserunt voluptate numquam qui natus.</div>
                        <div class="buttons">
                            <a href="/contact"><button>Contact Me</button></a>
                            <a href="/resume"><button>Download Resume</button></a>
                        </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>