<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Code+Pro&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/resume.css">
    <title>Home Page</title>
</head>

<body>

    <div class="container">
        <div class="sidebar">
            <b>ANKUSH JAIN</b>
            <nav>
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/youtube">YouTube</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </nav>
        </div>
        <div class="main">
            <h2 class="heading"><span>Resume</span></h2>
            <div class="infocontainer">
                <div class="left">
                    <h1>Ankush jain lunawath</h1>
                    <section class="address">
                        <h2>Adrress</h2>
                        <p>H.NO: 2-1-54/1, Station Road, Kamareddy, Telangana, India - 503111</p>
                    </section>
                    <section class="contact">
                        <h2>Contact</h2>
                        <h3>Phone:</h3>
                        <span>+91 8125823694</span>
                        <h3>Email:</h3>
                        <span><a href="">ankushjain369@gmail.com</a></span>
                        <h3>LinkedIn:</h3>
                        <span><a href="www.linkedin.com/in/ankushjain369" target="_blank">www.linkedin.com/in/ankushjain369</a></span>
                        <h3>Twitter:</h3>
                        <span><a href="www.twitter.com/ankushjain369" target="_blank">www.twitter.com/ankushjain369</a></span>
                        <h3>Git Hub:</h3>
                        <span><a href="www.github.com/ankushjain369" target="_blank">www.github.com/ankushjain369</a></span>
                    </section>
                    <section class="skills">
                        <h2>Skills</h2>
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JavaScript</li>
                            <li>ES6</li>
                            <li>BootStrap</li>
                            <li>SASS</li>
                            <li>Git & Git Hub</li>
                            <li>Node Js</li>
                            <li>Express Js</li>
                            <li>Mongo DB</li>
                            <li>React Js</li>
                            <li>Mongoose</li>
                            <li>PostMan</li>
                            <li>PHP</li>
                            <li>MySql DB</li>
                            <li>Machine Operator</li>
                            <li>Welder</li>
                            <li>CNC Operator</li>
                        </ul>
                    </section>
                    <section class="hobbies">
                        <h2>Hobbies</h2>
                        <ul>
                            <li>Travelling</li>
                            <li>Listening to Music</li>
                            <li>Helping Society</li>
                            <li>Video Editing</li>

                        </ul>
                    </section>

                </div>
                <div class="info">
                    <div class="right">
                        <section class="profile">
                            <h2>Profile</h2>
                            <blockquote>To Seek and Maintain full-time position that offers professional challenges
                                utilizing interpersonal skills, excellent time management and problem-solving skills.
                                Organized and dependable candidate successful at
                                managing multiple priorities with a positive attitude.
                                Willingness to take on added responsibilities to meet the
                                goals.</quote>
                        </section>
                        <section class="work">
                        <h2>Work Experience</h2>

                            <h3>Computer Numerical Control Machine Operator</h3>
                            <span>Stackpole International - Stratford, Ontario, Canada.</span>
                            <p>Jan.2022 - Sept.2022</p>
                            <ul>
                                <li>Organized and detail-oriented with a strong work
                                    ethic</li>
                                <li>Gained strong leadership skills by managing
                                    projects from start to finish.</li>
                                <li>Exercised leadership capabilities by successfully
                                    motivating and inspiring others.</li>
                                <li>Developed and maintained courteous and
                                    effective working relationships</li>
                                <li>Learned and adapted quickly to new technology
                                    and software applications</li>
                                <li>Managed time efficiently in order to complete all
                                    tasks within deadlines.</li>
                                <li>Skilled at working independently and
                                    collaboratively in a team environment</li>
                            </ul>
                        </section>
                        <section class="work1">
                            <h3>Production Welder</h3>
                            <span>FIO Automotive Canada Corporation - Stratford, Ontario, Canada.</span>
                            <p>Aug.2020 - Dec.2021</p>
                            <ul>
                                <li>Prepared materials for welding by cleaning metal
                                    surfaces with scrapers and grinders, removing
                                    tough spots.</li>
                                <li>Watched production lines for consistent errors and
                                    reported problems to Supervisor.</li>
                                <li>Used micrometers and calipers to inspect grooves,
                                    angles and gap allowances.</li>
                                <li>Inspected pieces for defects, measured, and
                                    checked with straightedges or templates for
                                    compliance with specifications</li>
                                <li>Operated drill press to bore holes through metal
                                    workpieces.</li>
                                <li>Detected faulty operation of equipment and
                                    defective materials and promptly resolved issues</li>
                                <li>Maintained safety by wearing protective
                                    equipment, staying alert and following
                                    procedures.</li>
                            </ul>
                        </section>

                        <section class="education">
                        <h2>Education</h2>

                            <h3>Confederation College</h3>
                            <p>Diploma in Aerospace Manufacturing Engineering Technician</p>
                            <p>Jan.2019 - May 2020</p>
                            <h3>Guru Nanak Institue Of Technology (GNIT)</h3>
                            <p>Bachelors of Technology in Mechanical Engineering</p>
                            <p>June 2014 - May 2018</p>
                        </section>
                        <section class="certificates">
                        <h2>Certificates</h2>

                            <ul>
                                <li>Certificate of Participation – Paper Presentation
                                    (JNTUH).</li>
                                <li>Certificate of Participation – 3D Printing Skill
                                    Development Workshop.
                                </li>
                                <li>Certification of Participation – NDT Job Tool for
                                    Budding Engineers.</li>
                                <li>G2 Driving License Certificate – Ontario, Canada.</li>
                                <li>Certified G Class Driving License – Ontario,
                                    Canada.</li>
                            </ul>
                        </section>
                        <section class="projects">
                        <h2>Projects</h2>

                            <ul>
                                <li><strong>Mini Project</strong> – Production of Bolt and Nut Using 3D
                                    Printer</li>
                                <li><strong>Major Project</strong> – Experimental Investigation and
                                    Performance Characteristics on CI Engine fueled
                                    with Linseed Methyl Ester, Cottonseed Oil and
                                    Ethanol blends at varying Injection Pressure and
                                    Injection Timings</li>
                            </ul>
                        </section>
                        <section class="software">
                        <h2>Projects on Software Field</h2>

                            <ul>
                                <li>To-Do list using HTML, CSS and JavaScript</li>
                                <li>Basic Calculator,</li>
                                <li>Analog Clock using HTML, CSS and JavaScript,</li>
                                <li>Built a Car Game using Advanced JavaScript
                                    Concepts,</li>
                                <li>Music Player clone using HTML, CSS and
                                    JavaScript</li>
                                <li>EMI Calculator</li>
                                <li>Temperature Conversion</li>
                                <li>Tic-Tac-Toe game</li>
                                <li>Created Database on MongoDB and performed
                                    CRUD operations through command line,
                                </li>
                                <li>Classic Snake game</li>
                                <li>Created a website page and connected the
                                    registration form signup and login data to the
                                    database in Nodejs with MongoDB using
                                    Mongoose and Expressjs,</li>
                                <li>Created a registration form using concepts of
                                    React and React Formik and applied validation
                                    using Yup validator,</li>

                                <li>Created Registration Form using Nodejs, Expressjs, MongoDB, and Mongoose.</li>
                                <li>Encrypted the password in the database to
                                    provide better security and generated the tokens,</li>
                                <li>Created Registration Form using PHP Myadmin and stored the data in the database
                                    using Mysql</li>
                                <li>Port Folio Page using MERN Stack</li>
                            </ul>
                        </section>















                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>