<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Code+Pro&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/portfolio.css">
    <link rel="stylesheet" href="css/youtube.css">
    <title>YouTube Videos</title>
</head>

<body>

    <div class="container">
        <div class="sidebar">
            <b>ANKUSH JAIN</b>
            <nav>
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/resume">Resume</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </nav>
        </div>
        <div class="main">
            <h2>YouTube Videos</h2>
            <div class="gallery">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Zf87VOuAe14" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                
                <iframe width="560" height="315" src="https://www.youtube.com/embed/wBNUhnUNf6c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                
                <iframe width="560" height="315" src="https://www.youtube.com/embed/q-rN5_JROeY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                
                <iframe width="560" height="315" src="https://www.youtube.com/embed/H_aDa_JZXhc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/fnZGuF-vNLA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            </div>
        </div>
    </div>
</body>

</html>